{% extends "MyappuserBundle::layout.html.twig" %}
{% block panier %}
    
<body>
<h1> Mon Panier </h1>
<table class="table table-hover" border="2px">
    
 
<tr>
    <th> ID </th>
    <th> Reference </th>
    <th> Image </th>
    <th> prix unitaire </th>
    <th> Quantite </th>
    <th>Prix total</th>
    <th></th>
</tr>
{% for pr in produits %}
  <tr name="produit" id="{{pr.idPr}}">
    <td> {{pr.idPr}} </td>
    <td> {{pr.reference}} </td>
    <td><img style="width: 20%" src="{{ asset(path('my_image_route2', {'id': pr.img})) }}" alt="" /></td>
    <td> {{pr.prix}} TND </td>
    <td> {{pr.quantite}} </td>
    <td>{{pr.prix*pr.quantite}} TND</td>
    <td>
  <button type="button" class="btn btn-danger" name="btn_del" id="{{pr.idpr}}">Supprimer</button>
    </td>
  </tr>
  
  
    {% endfor %}
    
 </table>
    <br>
    <br>
  <button type="button" class="btn btn-primary"> Continuer mes achats </button>  
  <button type="button" class="btn btn-success"> Valider mon panier </button>  
  
    
    
    
 <script>
$(document).ready(function() {
    
        //Supprimer un produit
        $("[name='btn_del']").click(
        function(){
            var url='http://{{ app.request.server.get('SERVER_NAME')}}{{asset(path('tunisia_supprimer_du panier'))}}';
            var idProdui=$( this ).attr("id");
            $.ajax({url:url,
                 method: 'GET',
                 data: { idprodui :idProdui },
                 success: function(result){
                    alert("le produit est supprimé");
                    }
                });
            $(" tr[id="+idProdui+"]").remove();
            
        });
    });

</script>
</body>
<br>
    <br>
    <br>
    <br>
{%endblock %}
