{#{% extends 'pi2tstBundle::Boutique.html.twig'%}
{% block contents %}#}
    
<div class="heading">
    <i class="fa fa-key"></i>
    <h2>Liste des boutiques</h2>
</div>
    	
<div class="row">
 
    {% for m in modele %} 
    <li class="col-sm-3  first-in-line last_line">
    
    <h1>{{m.nom}}</h1>
    <h1><p>{{m.categorie}}</p></h1>
    <h1>{{m.promotion}}</h1>
        {% for i in m.image_cle %}
          
    <marquee align="center" height="250" scrolldelay="5" scrollamount="3" onmouseout="this.start()" onmouseover="this.stop()">	
    <p><img border="1" src="{{ asset(path('my_image_route', {'id': i.id})) }} " alt="" hspace="0" height="300px" width="300px">    
    
    </p></marquee> 
    
   {% endfor %}

    <a href="{{path("delete",{'id':m.id})}}"><button class="btn btn-primary">Supprimer</button></a></td>
    <a href="{{path("update_boutique",{'id':m.id})}}"><button class="btn btn-primary">Modifier</button></a>
    
    </li>
    {% endfor %}
</div>				    
{#{% endblock %}#}